@import "Scss/utils";

.toolbar {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 15px;
  color: $white-color;
  background: $primary-color;
  z-index: 90;
  @include miw(500) {
    padding: 0 0 0 20px;
  }
}

.logo {
  width: 50px;
  background: $white-color;
  border-radius: 5px;
}

.nav {
  height: 100%;
}

.navList {
  flex-wrap: wrap;
}

.menu {
  width: 40px;
  padding: 5px;
  cursor: pointer;
  @include transitionAll;
  &:hover span {
    background: lighten($primary-color-light, 20%);
    &:nth-child(1) {
      transform: translateX(5px);
    }
    &:nth-child(2) {
      transform: translateX(-5px);
    }
    &:nth-child(3) {
      transform: translateX(5px);
    }
  }
  & span {
    display: block;
    height: 2px;
    background: $white-color;
    width: 100%;
    @include transitionAll;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.mobileOnly {
  @include miw(500) {
    display: none;
  }
}

.desktopOnly {
  @include mw(499) {
    display: none;
  }
}


