@import "Scss/utils";

.Toolbar {
  width: 100%;
  max-width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  color: $white-color;
  background: $primary-color;
  z-index: 90;
  padding: 0 20px;
  & .Logo {
    height: 80%;
  }
}

.Nav {
  height: 100%;
}

.Menu {
  width: 40px;
  padding: 5px;
  cursor: pointer;
  @include transitionAll;
  &:hover span {
    background: lighten($primary-color-light, 20%);
    &:nth-child(1) {
      transform: translateX(5px);
    }
    &:nth-child(2) {
      transform: translateX(-5px);
    }
    &:nth-child(3) {
      transform: translateX(5px);
    }
  }
  & span {
    display: block;
    height: 2px;
    background: $white-color;
    width: 100%;
    @include transitionAll;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.MobileOnly {
  @include miw(500) {
    display: none;
  }
}

.DesktopOnly {
  @include mw(499) {
    display: none;
  }
}


