@import "Scss/utils";

.Main {
  border-radius: 15px;
  padding: 10px;
  @include transitionAll;
  &:hover {
    transform: translateY(-3px);
  }
}

.Success {
  background: $success-color;
  color: $white-color;
}

.Danger {
  background: $danger-color;
  color: $white-color;
}
