@import "Scss/utils";

.checkout {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.btnWrapper {
  max-width: 500px;
  margin: 30px auto;
}

.controlBtn {
  margin: 30px;
}

.homeLink {
  margin: 0 5px;
  font-weight: 700;
  color: $success-color;
  @include transitionAll;
}
