@import 'Scss/utils';

.auth {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.error {
  color: $danger-color;
  font-weight: 700;
}

.submitButton {
  display: inline-block;
  margin: 10px;
  &:disabled {
    background: $disabled-color;
    color: #ccc;
  }
  &:hover:disabled {
    transform: none;
  }
}

.authForm {
  width: 100%;
  margin-top: 15px;
}
