//@import 'Scss/utils';

@import "../../../assets/scss/utils";


.NavigationItems {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  @include miw(500) {
    align-items: center;
    flex-flow: row;
    height: 100%;
  }
}
